<div>
	<form id="login">
		<label for="email">Email</label>
		<input type="text" name="email" placeholder="Email" />
		<label for="password">Password</label>
		<input type="password" name="password" placeholder="Password"/>
		<button type="submit">Login</button>
	</form>
	<hr/>
	<form id="register">
		<label for="username">Username</label>
		<input type="text" name="username" placeholder="Username" />
		<label for="email">Email</label>
		<input type="text" name="email" placeholder="Email" />
		<label for="password">Password</label>
		<input type="password" name="password" placeholder="Password"/>
		<button type="submit">Sign Up</button>
	</form>
</div>

<script src="/js/pages/login.js"></script>