<section>
    {{!-- logged in user's projects --}}
    {{#each projects}}
        {{> projectCard project=this}}
    {{/each}}

    <form id="new-project">
        <label for="name">Project Name</label>
        <input id="new-project-name" type="text"><br>
        <label for="description">Project description</label>
        <textarea id="new-project-description" name="description" cols="20" rows="5"></textarea><br>
        <label for="needed_funding">Funding needed</label>
        <input id="new-project-funding" type="number">
        <button type="submit" value="submit">Submit</button>
    </form>
</section>

